<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Battleship by IL</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- <link rel='stylesheet' href='../styles/main.css'> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">

  <style>
    .board-node {
      border: solid teal 1px;
      font-size: 0.8em;
    }

    .myContainer {
      width: 300px;
      height: 300px;
      display: block;
      text-align: center;
    }

    .myRow {
      height: 10%;
      width: 100%;
      border: 1px solid black;
      margin: 0;
      padding: 0;
    }

    .myTable {
      background-color: blue;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      border: 1px solid black;
      flex-grow: 1;
    }

    .myData {
      height: 20px;
      width: 20px;
      border: 1px solid black;
    }

    .battle-container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    table button {
      width: 50px;
      height: 50px;
    }

    .op-container {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(10, 1fr);
      width: 550px;
      height: 550px;
      margin: 0;
      padding: 0;
      border: solid rgb(247, 247, 247) 2px;
      background-color: rgb(63, 58, 58);
    }

    .op-container div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .my-container {
      border: solid teal 2px;
      background-color: rgb(87, 135, 155);
      display: grid;
      grid-template-columns: repeat(10, 1fr);

    }
    .error-msg {
      font-family: 'Bungee', cursive;
    }

    .my-container div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .hover-op {
      color: grey;
      background-color: rgba(200, 200, 200, 0.2);
    }

    .miss-node {
      color: rgb(238, 124, 124);
      background-color: rgba(238, 124, 124, 0.2);

    }

    .hit-node {
      color: rgb(129, 224, 129);
      background-color: rgba(129, 224, 129, 0.2);
    }

    @media (max-width: 768px) {
      .battle-container {
        flex-direction: column;
      }

      .my-container {
        width: 200px;
        height: 200px;
      }

      .op-container {
        height: 400px;
        width: 400px;
      }
    }
  </style>
  <script>
    $(document).ready(function () {
      setInterval(() => {
        $.ajax('/heart', { method: 'GET' });
        $('.error-msg').empty();

      }, 3000);
      $.ajax('/board', { method: 'GET' }).done((data) => {
        // console.log(data);
        renderBoard(data.myBoard, true);
        renderBoard(data.opBoard, false);
      });
      setInterval(() => {
        $.ajax('/board', { method: 'GET' }).done((data) => {
          renderBoard(data.myBoard, true);
          renderBoard(data.opBoard, false);
          if (data.url)
            window.location.href = data.url
          // console.log(data);
        });

      }, 1000);
      function getTheBoards(event) {
        $('.error-msg').empty();
        $.ajax({ method: 'PUT', url: `/battle/${event.target.id}`, data: `${event.target.id}` })
          .done(() => {
            $.ajax('/board', { method: 'GET' }).done((data) => {
              renderBoard(data.myBoard, true);
              renderBoard(data.opBoard, false);
            });
          }).fail(xhr => {
            $('.error-msg').text(xhr.responseJSON.error);
            if ($('.error-msg').is(':hidden'))
              $('.error-msg').slideDown('fast');
          });
      }

      const renderBoard = (board, mine) => {
        const whom = mine ? 'my' : 'op';
        $(`.${whom}-container`).empty();
        $con = $(`.${whom}-container`)
        for (let row in board) {
          for (let col in board[row]) {
            const txt = board[row][col] === 0 ? '' : board[row][col];
            const $newDiv = $('<div>').text(txt);
            $($newDiv).attr('id', `${row}${col}`).addClass('board-node');
            if (board[row][col] === 'X') $newDiv.addClass('hit-node');
            if (board[row][col] === 'O') $newDiv.addClass('miss-node');
            if (!mine) {
              $($newDiv).hover(function () {
                $(this).addClass('hover-op');
              }, function () {
                $(this).removeClass('hover-op');
              }
              );
              if (board[row][col] !== 'X' && board[row][col] !== 'O')
                $newDiv.click((event) => getTheBoards(event));
            }
            $con.append($newDiv);
          }
        }
      };

      $('.btn-battle-log').click(() => {
        if ($('.battle-log').is(':hidden'))
          $('.battle-log').show();
        else
          $('.battle-log').hide();
      })
    });
  </script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-info" style='padding: 28px 10px'>
      <a class="navbar-brand" href="/">Battleship</a>
      <button class='btn-battle-log'>Battle Log</button>
      <section class='battle-log'></section>
    </nav>
  </header>
  <div class='battle-container'>
    <table>
      <tr>
        <td>
          <div>
            <span class='error-msg'>

            </span>
          </div>

          <div class='myContainer my-container'>
          </div>
    </table>
    </td>
    </tr>
    <section class='op-container'>
      <table class='board table table-bordered op-board' id=<%=number%>>
  
      </table>
    </section>
  </div>
</body>

</html>