<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Battleship by IL</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- <link rel='stylesheet' href='../styles/main.css'> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $(document).ready(() => {
      setInterval(() => {
        $.ajax('/heart', { method: 'GET' })
      }, 3000);
      $.ajax('/plays', { method: 'GET' }).done(data => {
        renderReplays(data);
        console.log(data);
      })
      const renderReplays = (battleLog) => {
        for (let i = 0; i < battleLog.length; i++) {
          let $entry = $('<div>').addClass('log-entry');
          $turn = $('<span>').text(i + 1);
          let $board1 = renderBoardItem(battleLog[i].boardState['Player 1']);
          let $board2 = renderBoardItem(battleLog[i].boardState['Player 2']);
          let $newDesc = renderDesc(battleLog[i].desc)
          $entry.append($turn).append($board1).append($board2).append($newDesc);
          $('.replay-log').append($entry);
        }
      };
      const renderDesc = (str) => {
        const $newSpan = $('<span>').text(str);
        return $newSpan;
      }
      const renderBoardItem = board => {
        const $newBoard = $('<div>').addClass('board-entry');
        for (let row in board) {
          for (let col in board[row]) {
            const txt = board[row][col] === 0 ? ' ' : board[row][col];
            const $newDiv = $('<div>').text(txt).addClass('board-node');
            if (board[row][col] === 'X') $newDiv.addClass('hit-node');
            if (board[row][col] === 'O') $newDiv.addClass('miss-node');
            $newBoard.append($newDiv);
          }
        }
        return $newBoard;
      };


    });
  </script>
  <style>
    .board-node {
      font-size: 0.8em;
      border: solid teal 1px;
    }
    .log-entry {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    .board-entry {
      display: grid;
      
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(10, 1fr);
      border: solid teal 2px;
      background-color: rgb(87, 135, 155);
      width: 200px;
      height: 200px;
    }

    .myContainer {
      width: 180px;
      height: 180px;
      display: block;
      text-align: center;
    }

    .miss-node {
      color: rgb(238, 124, 124);
      background-color: rgba(238, 124, 124, 0.2);

    }

    .hit-node {
      color: rgb(129, 224, 129);
      background-color: rgba(129, 224, 129, 0.2);
    }

    .myRow {
      height: 10%;
      width: 100%;
      border: 1px solid black;
    }

    .myData {
      height: 20px;
      width: 20px;
      border: 1px solid black;
    }

    .replay-log {
      display: flex;
      flex-direction: column;
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-info" style='padding: 28px 10px'>
      <a class="navbar-brand" href="/">Battleship</a>
    </nav>
  </header>

  <section class='replay-log'>
  </section>
</body>

</html>