<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Register - Battleship</title>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
</head>
<style>
  .ins {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ins header {
    font-family: 'Bungee', cursive;
    margin-bottom: 30px;
  }

  .ins li {
    font-family: 'Bungee', cursive;
  }
</style>

<body>
  <header>
    <%- include('./partials/_header'); %>
  </header>
  <div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <% if (error) {%>
      <h2 class='text-danger'><%= error %></h2>
      <% } %>

      <form action='/register' method='POST'>
        <p>Choose A Name: </p><input name='username' type='text' placeholder='Cattle Bruiser'>
        <p style='margin: 10px auto;'><button class='btn btn-primary' type='submit'>Submit</button></p>
      </form>
    </div>
  </div>
  <section class='ins'>
    <ul>
      <header>
        How to play:
      </header>
      <li>Input a name</li>
      <li>Takes 2 players</li>
      <li>Place 5 ships</li>
    </ul>
  </section>
  <form action='/single' method='POST'>
    Single Player Mode: 
    <button type='submit'>
      PLAY NOW
    </button> 

  </form>

</body>

</html>