.container {
    display: inline-grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

/* .board-node {
    background-color: skyblue;
    width: 40px;
    height: 40px;
} */
.board-row {
  margin: 0 auto;
}
